<app-layout>
  <mat-stepper #stepper class="register">
    <mat-step [stepControl]="personalForm" errorMessage="Envio não realizado!">
      <form [formGroup]="personalForm" class="register__form">
        <ng-template matStepLabel>Dados Pessoais</ng-template>

        <mat-grid-list cols="4">
          <mat-form-field
            class="container__form-input"
            color="accent"
            appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Nome"
              formControlName="name"
              required />
          </mat-form-field>
        </mat-grid-list>

        <mat-grid-list cols="4">
          <mat-form-field
            class="container__form-input"
            color="accent"
            appearance="fill">
            <mat-label>Sexo</mat-label>
            <mat-select formControlName="type">
              <mat-option
                *ngFor="let type of sexOptions"
                [value]="type.value"
                >{{ type.viewValue }}</mat-option
              >
            </mat-select>
            <mat-error
              ><app-custom-validation-message
                controlName="type"></app-custom-validation-message>
            </mat-error>
          </mat-form-field>
        </mat-grid-list>

        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step
      [stepControl]="secondFormGroup"
      errorMessage="Envio não realizado!">
      <form [formGroup]="secondFormGroup" class="register__form">
        <ng-template matStepLabel>Dados Complementares</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            placeholder="Ex. 1 Main St, New York, NY"
            formControlName="secondCtrl"
            required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Dados Eclesiásticos</ng-template>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="stepper.reset()">Resetar</button>
      </div>
    </mat-step>
  </mat-stepper>
</app-layout>
