<app-layout>
  <mat-stepper #stepper class="register">
    <mat-step [stepControl]="firstFormGroup" errorMessage="Envio não realizado!">
      <form [formGroup]="firstFormGroup" class="register__form">
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            placeholder="Last name, First name"
            formControlName="firstCtrl"
            required />
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" errorMessage="Envio não realizado!">
      <form [formGroup]="secondFormGroup" class="register__form">
        <ng-template matStepLabel>Dados Complementares</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Address</mat-label>
          <input
            matInput
            placeholder="Ex. 1 Main St, New York, NY"
            formControlName="secondCtrl"
            required />
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Voltar</button>
          <button mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Dados Eclesiásticos</ng-template>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button (click)="stepper.reset()">Resetar</button>
      </div>
    </mat-step>
  </mat-stepper>
</app-layout>
