<app-layout>
  <ng-container *ngIf="userId$ | async as userId">
    <mat-stepper #stepper class="register">
      <!-- * --------------- Dados Pessoais --------------- -->
      <mat-step [stepControl]="personalForm" errorMessage="Envio não realizado!">
        <ng-template matStepLabel>Dados Pessoais</ng-template>
        <app-personal-register
          [personalForm]="personalForm"
          [userId]="userId"></app-personal-register>
      </mat-step>

      <!-- * --------------- Dados Complementares --------------- -->
      <mat-step [stepControl]="supplementaryForm" errorMessage="Envio não realizado!">
        <ng-template matStepLabel>Dados Complementares</ng-template>
        <app-supplementary-register
          [supplementaryForm]="supplementaryForm"
          [userId]="userId"></app-supplementary-register>
      </mat-step>

      <!-- * --------------- Dados Eclesiásticos --------------- -->
      <mat-step [stepControl]="ecclesiasticalForm" errorMessage="Envio não realizado!">
        <ng-template matStepLabel>Dados Eclesiásticos</ng-template>
        <app-ecclesiastical-register
          [ecclesiasticalForm]="ecclesiasticalForm"
          [userId]="userId"></app-ecclesiastical-register>
      </mat-step>
    </mat-stepper>
  </ng-container>
</app-layout>
