<div class="register">
  <ng-container *ngIf="ecclesiascticalData$ | async"></ng-container>
  <ng-container *ngIf="processData$ | async"></ng-container>

  <form [formGroup]="ecclesiasticalForm" class="register__form">
    <mat-form-field class="container__form-input" color="accent" appearance="fill">
      <mat-label for="membership">Membresia</mat-label>
      <mat-select formControlName="membership">
        <mat-option
          *ngFor="let membership of _registerService.membershipOptions"
          [value]="membership.value"
          >{{ membership.viewValue }}</mat-option
        >
      </mat-select>
      <mat-icon matSuffix>card_membership</mat-icon>
      <mat-error
        ><app-custom-validation-message controlName="membership"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="container__form-input" color="accent" appearance="fill">
      <mat-label for="craft">Ofício</mat-label>
      <mat-select formControlName="craft">
        <mat-option *ngFor="let craft of _registerService.craftOptions" [value]="craft.value">{{
          craft.viewValue
        }}</mat-option>
      </mat-select>
      <mat-icon matSuffix>work</mat-icon>
      <mat-error
        ><app-custom-validation-message controlName="craft"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="container__form-input" color="accent" appearance="fill">
      <mat-label for="communities">Igrejas que frequentou</mat-label>
      <mat-select formControlName="communities" multiple>
        <mat-option
          *ngFor="let community of _registerService.communitiesOption"
          [value]="community.value"
          >{{ community.viewValue }}</mat-option
        >
      </mat-select>
      <mat-icon matSuffix>home</mat-icon>
      <mat-error
        ><app-custom-validation-message controlName="communities"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="container__form-input" color="accent" appearance="fill">
      <mat-label for="interests">Interesses</mat-label>
      <mat-select formControlName="interests" multiple>
        <mat-option
          *ngFor="let interest of _registerService.interestsOption"
          [value]="interest.value"
          >{{ interest.viewValue }}</mat-option
        >
      </mat-select>
      <mat-icon matSuffix>library_books</mat-icon>
      <mat-error
        ><app-custom-validation-message controlName="interests"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="container__form-input" color="accent" appearance="fill">
      <mat-label for="baptism">Batizado ?</mat-label>
      <mat-select formControlName="baptism">
        <mat-option
          *ngFor="let baptism of _registerService.baptismOptions"
          [value]="baptism.value"
          >{{ baptism.viewValue }}</mat-option
        >
      </mat-select>
      <mat-icon matSuffix>home</mat-icon>
      <mat-error
        ><app-custom-validation-message controlName="baptism"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="container__form-input" color="accent" appearance="fill">
      <mat-label for="baptism_date">Data de Batismo</mat-label>
      <input matInput [matDatepicker]="baptism_date_picker" formControlName="baptism_date" />

      <mat-datepicker-toggle matSuffix [for]="baptism_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #baptism_date_picker color="primary"></mat-datepicker>
      <mat-error
        ><app-custom-validation-message controlName="baptism_date"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="container__form-input" color="accent" appearance="fill">
      <mat-label for="baptism_shepherd">Pastor de Batismo</mat-label>
      <input matInput placeholder="Pastor de Batismo" formControlName="baptism_shepherd" required />
      <mat-icon matSuffix>person</mat-icon>
      <mat-error
        ><app-custom-validation-message
          controlName="baptism_shepherd"></app-custom-validation-message>
      </mat-error>
    </mat-form-field>
  </form>

  <div class="register__actions">
    <button
      class="app-button"
      mat-raised-button
      matStepperPrevious
      color="warn"
      type="button"
      [disabled]="false">
      Voltar
    </button>

    <button
      class="app-button"
      mat-raised-button
      matStepperNext
      color="primary"
      type="button"
      [disabled]="ecclesiasticalForm.invalid"
      (click)="sendEcclesiasticalData()">
      Salvar
    </button>
  </div>
</div>
