@import 'src/styles/colors';
@import 'src/styles/font';

.not-found-page {
  background-color: rgba($blue, .5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 100vh;
  border-radius: 10px;

  &__content {
    width: auto;
    max-width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;

    &-text {
      color: $white;
      word-wrap: break-word;
      font-weight: 500;
      font-size: 32px;
      letter-spacing: 0.6px;
    }
  }

  &__card {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 16px 5px;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: space-between;
    }

    &-title {
      width: 98%;
      font-size: 107px;
      font-weight: 500;
      color: $blue;
      line-height: 108px;
      text-align: center;
      word-wrap: break-word;
    }

    &-sub-title {
      width: 98%;
      font-size: $fs-normal;
      font-weight: 400;
      letter-spacing: -0.05px;
      color: $blue;
      text-align: center;
      word-wrap: break-word;
    }

    &-sub-title-second {
      width: 98%;
      font-size: $fs-normal;
      font-weight: 400;
      color: $grey;
      text-align: center;
      word-wrap: break-word;
    }

    &-button {
      line-height: 40px;
      letter-spacing: 1px;
    }
  }
}
